* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e6e6;
}


nav {
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li sub {
    font-size: medium;
}

nav li {
    list-style: none;
    margin-right: 23px;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    font-size: 1.2rem;
    color: #f3a847;
}

.right {
    border-radius: 6px;
}

.right input {
    width: 640px;
    height: 40px;
    border: 2px solid black;
    ;
    border-radius: 6px;
    padding-left: 5px;
}

#choose {
    width: 42px;
    height: 40px;
    background-color: lightgrey;
    border: 3px solid#f3a847;
    border-radius: 6px;
}

.right button {
    background-color: #f3a847;
    color: white;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    ;
    border-radius: 6px;
}

.firstsection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 235, 235, 0.5);
    background-color: #d6dbdb;
    width: 280px;
    height: 300px;
    margin: 40px 10px 20px 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    border-width: 0px;

}

main h1 {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 2.5rem;
    text-align: center;
}

#pname {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: #232f3e;
}

.img {
    width: 150px;
    height: 150px;
}

.imgStyle {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.btntext {
    color: #ffffff;
    text-align: center;
}

#btnu {
    width: 60px;
    height: 40px;
    background-color: lightgrey;
    border: 3px solid#f3a847;
    border-radius: 6px;
    font-size: larger;
    margin-top: 10px;
    margin-left: 95%;
    margin-bottom: 2px;
    font-size: larger;
    color: #232f3e;
    display: inline-block;
}


.footer {
    text-align: center;
    height: 100px;
    background-color: #232f3e;
    color: white;
    font-size: larger;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer ul li {
    margin-right: 23px;
}
